
  
<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <div class="title">
    <h4>Login</h4>
    <p>Empecemos...</p>
  </div>

  <ion-input placeholder="usuario" class="primary-input" required ></ion-input>
  <ion-input placeholder="Contraseña" type="password" class="primary-input" required></ion-input>

  <div class="ion-margin-top ion-text-right forget">
    <a>¿Olvidaste la contraseña?</a>
  </div>

  <div class="ion-margin-top">
    <ion-button expand="block" type='submit' (click)="dismiss()" [routerLink]="['/home']">LOGIN</ion-button>
  </div>

  <div class="ion-margin-top ion-text-center">
    <a (click)="dismiss()">Cerrar</a>
  </div>
</ion-content>